head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Massajja Ufarm
  link(rel='stylesheet' href='./css/bootstrap/bootstrap.css' type='text/css')
  link(rel='stylesheet' href='./css/style.css' type='text/css')
nav.navbar.navbar-expand-lg.navbar-light(style='background-color: #6b8e23')
  a.navbar-brand(href='welcome') Ufarm
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='welcome')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='contactUfarm') Contact Us
      li.nav-item
        a.nav-link(href='aboutUfarm' tabindex='-1' aria-disabled='true') About Us
      li.nav-item
        a.nav-link(href='farmerUpload') Upload Product   
    form.search(action='/dashboardUF')
        div.form-row
            div.col-md-8
                input.form-control(name='productName' placeholder="Search(Product) ...")
            div.col-md-4
                input.btn.btn-dark.btn-block(type="submit")
    form(method="post" action='/logoutUF') 
      button.btn.btn-dark.btn-block(type="submit") Log out
body
    header.card-header
        h4.card-title Products available on the Market
    |&nbsp
    table.table
        thead.thead-dark
            tr
                th Product Name
                th Product Description
                th Product Image
                th Price (UGX)
                th Produce Type
                th Date of Upload 
                th Ward 
                th
                th

        tbody
            if users.length
            each user in users
                tr
                    td #{user.productName}
                    td #{user.productDescription}
                    td 
                        img(src='/uploads/' + user.productImage height='80px' width='80px')
                    td #{user.price}
                    td #{user.productType}
                    td #{user.uploadDate}
                    td #{user.wardUF}
                    td
                        a(href='/updateProduct/'+user._id) Update
                    td
                        form(method="post" action='/deleteProduct')
                            input(type="hidden", placeholder="", name="id", value=user._id)
                            button.btn.btn-dark.btn-block(type="submit") Delete
            else
                p No registrations yet :(
script(src='./js/jquery-3.5.1.slim.min.js')
script(src='./js/popper.min.js')
script(src='./js/bootstrap/bootstrap.js')
script(src='./js/massajaUfarm.js')