head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Massajja Ufarm
  link(rel='stylesheet' href='./css/bootstrap/bootstrap.css' type='text/css')
  link(rel='stylesheet' href='./css/style.css' type='text/css')
nav.navbar.navbar-expand-lg.navbar-light(style='background-color: #6b8e23')
  a.navbar-brand(href='welcome2') Ufarm
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='welcome2')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='contactUfarm') Contact Us
      li.nav-item
        a.nav-link(href='aboutUfarm') About Us
      li.nav-item
        a.nav-link(href='farmerUpload') Upload Product  
      li.nav-item
        a.nav-link(href='ordersDash') View Orders  
    form.search(action='/dashboardUF')
        div.form-row
            div.col-md-8
                input.form-control(name='productName' placeholder="Search(Product) ...")
            div.col-md-4
                input.btn.btn-dark.btn-block(type="submit")
    form(method="post" action='/logoutUF') 
      button.btn.btn-dark.btn-block(type="submit") Log out
body
    header.card-header
        h4.card-title Products uploaded by Urban farmer
    |&nbsp
    table.table
        thead.card-header
            tr
                th Name of UF
                th Product Name
                th Product Description
                th Product Image
                th Unit Price  (UGX)
                th Quantity
                th Produce Type
                th Date of Upload 
                th Ward 
                th Status
                th Action
                th
                th

        tbody
            if items.length
            each item in items
                tr
                    td #{item.firstnameUF + item.lastnameUF}
                    td #{item.productName}
                    td #{item.productDescription}
                    td 
                        img(src='/uploads/' + item.productImage height='80px' width='80px')
                    td #{item.price}
                    td #{item.quantity}
                    td #{item.productType}
                    td #{item.uploadDate}
                    td #{item.ward}
                    td #{item.status}
                    //- td
                    //-     a(href='/updateStatus/'+item._id) Approve
                    td
                        a(href='/updateProduct/'+item._id) Update
                    td
                        form(method="post" action='/deleteProduct')
                            input(type="hidden", placeholder="", name="id", value=item._id)
                            button.btn.btn-dark.btn-block(type="submit") Delete
            else
                p No products found :(
script(src='./js/jquery-3.5.1.slim.min.js')
script(src='./js/popper.min.js')
script(src='./js/bootstrap/bootstrap.js')