head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Massajja Ufarm
  link(rel='stylesheet' href='/css/bootstrap/bootstrap.css' type='text/css')
  link(rel='stylesheet' href='/css/style.css' type='text/css')
nav.navbar.navbar-expand-lg.navbar-light.nav-link.navbar-nav-scroll
  a.navbar-brand(href='/') UFARM &nbsp &nbsp&nbsp&nbsp |
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/')
          | HOME 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='aboutUfarm') ABOUT
      li.nav-item
        a.nav-link(href='contactUfarm') CONTACT
         
    form.search(action='/dashboardAO')
        div.form-row
            div.col-md-8
                input.form-control(name='ward' placeholder="Search(ward) ...")
            div.col-md-4
                input.btn.btn-dark.btn-block(type="submit")
    form(method="post" action='/logoutAO') 
      button.btn.btn-dark.btn-block(type="submit") Logout 
body
  .row 
    .col-2  
      .bd-sidebar.sidebar 
        br
        a.sidebar-link(href='dashboardAO') LEADERS
        br
        br
        hr
        br
        a.sidebar-link(href='viewAllUFs') FARMERS
        br
        br
        hr
        br
        a.sidebar-link(href='viewAllProducts') PRODUCTS
        br
        br
        hr
        br
        a.sidebar-link(href='ordersDash') ORDERS
        br
        br
        hr
        br
        a.sidebar-link(href='#') SUMMARY
        br
        br
        hr
        br
        a.sidebar-link(href='#') PROFILE
        br
        br
        hr
        br
        a.sidebar-link(href='#') SETTINGS
        br
        br
        hr
        br
         
    .col-9.dashAO
      br
      header
        h4.card-title Farmer Ones in Massajja Division Ufarm &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          button#newFObtn.btn.btn-primary(type='button' data-toggle='modal' data-target='#exampleModal' data-whatever='@getbootstrap') Add New FO
          #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  h4#exampleModalLabel.modal-title Register New FO
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body.container
                    form.farmerOneRegister(name='foRegisterForm' action='/registerFO' method='POST')
                      .form-row
                        .form-group.col-md-4
                          input#inputFirstName.form-control(type='text' placeholder='First Name' name='firstNameFO')
                          span#fnameFOerr
                        .form-group.col-md-4
                          input#inputLastName.form-control(type='text' placeholder='Last Name' name='lastNameFO')
                          span#lnameFOerr
                        .form-group.col-md-4
                          input#inputUserName.form-control(type='text' placeholder='User Name' name='username')
                          span#unameFOerr
                      .form-row
                        .form-group.col-md-4
                          input#inputFOnumber.form-control(type='password' placeholder='FO Number' name='password')
                          span#foNumErr
                        .form-group.col-md-4
                          input#inputNIN.form-control(type='password' placeholder='NIN number' name='foNIN')
                          span#foNINerr
                        .form-group.col-md-4
                          input#inputPhoneNumber.form-control(type='text' placeholder='Phone Number e.g. 0700123456' name='phoneNumberFO')
                          span#fophoneNumErr
                      .form-row
                        .form-group.col-md-4
                          select#inputWard.form-control(name='ward')
                            option(value='Default' selected='') Select your Ward
                            option(value='Busabala') Busabala
                            option(value='Massajja') Masajja
                            option(value='Kikajjo') Kikajjo
                            option(value='Namasuba') Namasuba
                          span#wardErr
                        .form-group.col-md-4
                          input.form-control(type='text' placeholder='Stay Period' name='stayPeriod' onfocus="(this.type='date')")
                          span#stayPeriodErr
                        .form-group.col-md-4
                          select#inputResidence.form-control(name='residenceType')
                            option(value='Default' selected='') Residence type
                            option(value='Citizen') Citizen
                            option(value='NonCitizen') NonCitizen
                          span#residenceErr
                      .form-row
                        .form-group.col-md-6
                          input#inputDOB.form-control(type='text' placeholder='Date of Birth' name='dobFO' onfocus="(this.type='date')")
                          span#dobFOerr
                        .form-group.col-md-6
                          input#inputDOR.form-control(type='text' placeholder='Date of Registration' name='dorFO' onfocus="(this.type='date')")
                          span#dorFOerr
                      .form-group
                        .form-check-inline
                          input#horticultureProduce.form-check-input(type='checkbox' value='Horticulture' name='produceType')
                          label.form-check-label(for='horticulture') Horticulture Produce
                        .form-check-inline
                          input#poultryProducts.form-check-input(type='checkbox' value='Poultry' name='produceType')
                          label.form-check-label(for='poultry') Poultry products
                        .form-check-inline
                          input#diaryProducts.form-check-input(type='checkbox' value='Dairy' name='produceType')
                          label.form-check-label(for='dairy') Diary Products
                          span#produceFOerr
                      .form-group
                        .form-check-inline
                          input#genderM.form-check-input(type='radio' name='gender' value='Male' checked='')
                          label.form-check-label(for='genderM')  Male 
                        .form-check-inline
                          input#genderF.form-check-input(type='radio' name='gender' value='Female')
                          label.form-check-label(for='genderF')  Female 
                      a#registerFarmerOne(href='#')
                        input.btn.btn-primary(type='button' value='Register')
      |&nbsp 
      table#example.table
          thead 
              tr
                  th Date 
                  th Firstname
                  th Lastname
                  //- th FO NIN
                  th Contact
                  th Ward
                  //- th Stay Period
                  //- th Residence Type
                  //- th DOB
                  th Products
                  th Gender
                  th
                  th

          tbody
              if users.length
              each user in users
                  tr
                      td #{user.dorFO}
                      td #{user.firstNameFO}
                      td #{user.lastNameFO}
                      //- td #{user.foNIN}
                      td #{user.phoneNumberFO}
                      td #{user.ward}
                      //- td #{user.stayPeriod}
                      //- td #{user.residenceType}
                      //- td #{user.dobFO}
                      td #{user.produceType}  
                      td #{user.gender}
                      td
                          a(href='/update/'+user._id) Update
                          //- a(href='/update/'+user._id data-toggle='modal' data-target='#updateModal' data-whatever='@getbootstrap') Update
                          //- #updateModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel')
                          //-   .modal-dialog(role='document')
                          //-     .modal-content
                          //-       .modal-header
                          //-         h4#exampleModalLabel.modal-title Update Farmer One  Information Here
                          //-         button.close(type='button' data-dismiss='modal' aria-label='Close')
                          //-           span(aria-hidden='true') &times;
                          //-       .modal-body
                          //-         form.farmerOneRegister(method="post" action="/update?id="+user._id)
                          //-           img.formImages(src='/img/greenLeafSideImage1.png' alt='')
                          //-           .form-row
                          //-             .form-group.col-md-6
                          //-               label First Name
                          //-               input#inputFirstName.form-control(value = user.firstNameFO name ="firstNameFO" readonly)
                          //-             .form-group.col-md-6
                          //-               label Last Name
                          //-               input#inputLastName.form-control(value = user.lastNameFO name ="lastNameFO" readonly)
                          //-           .form-row
                          //-             .form-group.col-md-6
                          //-               label FO NIN
                          //-               input#inputNIN.form-control(value = user.foNIN name ="foNIN" readonly)
                          //-             .form-group.col-md-6
                          //-               label Contact
                          //-               input#inputPhoneNumber.form-control(value = user.phoneNumberFO name ="phoneNumberFO")
                          //-           .form-row
                          //-             .form-group.col-md-4
                          //-               label Ward
                          //-               select#inputWard.form-control(name='ward' disabled)
                          //-                 option(value="Busabala" selected = user.ward === "Busabala") Busabala
                          //-                 option(value="Massajja" selected = user.ward === "Massajja") Massajja
                          //-                 option(value="Kikajjo" selected = user.ward === "Kikajjo") Kikajjo
                          //-                 option(value="Namasuba" selected = user.ward === "Namasuba") Namasuba
                          //-             .form-group.col-md-4
                          //-               label Year of Stay 
                          //-               input.form-control(value = user.stayPeriod name ="stayPeriod" readonly)
                          //-             .form-group.col-md-4
                          //-               label Residence Type
                          //-               select#inputResidence.form-control(name='residenceType' disabled)
                          //-                 option(value="Citizen" selected = user.residenceType === "Citizen") Citizen
                          //-                 option(value="Non Citizen" selected = user.residenceType === "Non Citizen") Non Citizen
                          //-           .form-row
                          //-             .form-group.col-md-6
                          //-               label Date of Birth
                          //-               input#inputDOB.form-control(value = user.dobFO name ="dobFO" readonly)
                          //-             .form-group.col-md-6
                          //-               label Date of Registration
                          //-               input#inputDOR.form-control(value = user.dorFO name ="dorFO" readonly)
                          //-           .form-check.form-check-inline
                          //-             input#horticultureProduce.form-check-input(value= "Horticulture" type="checkbox" checked = user.produceType.includes('Horticulture') name="produceType")
                          //-             label.form-check-label(for='inlineCheckbox1') Horticulture Produce
                          //-           .form-check.form-check-inline
                          //-             input#poultryProducts.form-check-input(value= "Poultry" type="checkbox" checked = user.produceType.includes('Poultry') name="produceType")
                          //-             label.form-check-label(for='inlineCheckbox2') Poultry products
                          //-           .form-check.form-check-inline
                          //-             input#diaryProducts.form-check-input(value= "Dairy" type="checkbox" checked = user.produceType.includes('Dairy') name="produceType")
                          //-             label.form-check-label(for='inlineCheckbox3') Diary Products
                          //-           .form-group
                          //-             .form-check-inline
                          //-               input#genderM.form-check-input(value= "Male" type="radio" checked = user.gender==="Male" name="gender" readonly)
                          //-               label.form-check-label(for='genderM')  Male 
                          //-             .form-check-inline
                          //-               input#genderF.form-check-input(value= "Female" type="radio" checked = user.gender==="Female" name="gender" readonly)
                          //-               label.form-check-label(for='genderF')  Female 
                          //-           button#registerFO.btn.btn-primary(type='submit')
                          //-             | Update
                                    br
                      td
                          form(method="post" action='/delete')
                              input(type="hidden", placeholder="", name="id", value=user._id)
                              button.btn.btn-dark.btn-block(type="submit") Delete
              else
                  p No farmers found in this ward yet :(
    .col-1 
    //- i.fa-solid.fa-trash 
script(src='./js/jquery-3.5.1.slim.min.js')
//- script(src='https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js') 
script(src='./js/popper.min.js')
script(src='./js/bootstrap/bootstrap.js')
script(src='./js/validateMassajaUfarm.js')

  