head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Massajja Ufarm
  link(rel='stylesheet' href='./css/bootstrap/bootstrap.css' type='text/css')
  link(rel='stylesheet' href='./css/style.css' type='text/css')
nav.navbar.navbar-expand-lg.navbar-light(style='background-color: #6b8e23')
  a.navbar-brand(href='welcome2') Ufarm
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='welcome2')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='contactUfarm') Contact Us
      li.nav-item
        a.nav-link(href='aboutUfarm') About Us
      li.nav-item
        a.nav-link(href='registerUF') Add New UF   
      li.nav-item
        a.nav-link(href='dashboardUF') Approve Products 
    form.search(action='/dashboardFO')
        div.form-row
            div.col-md-8
                input.form-control(name='wardUF' placeholder="Search term(ward) ...")
            div.col-md-4
                input.btn.btn-dark.btn-block(type="submit")
    form(method="post" action='/logoutFO') 
      button.btn.btn-dark.btn-block(type="submit") Log out
body
    header.card-header
        h4.card-title Urban Farmers in Massajja Division Ufarm
    |&nbsp
    table.table
        thead.card-header
            tr
                th Firstname
                th Lastname
                th DOB
                th DOR
                th Farmer NIN
                th Contact 1
                th Contact 2
                th Ward
                th Produce Type
                th Gender
                th
                th

        tbody
            if users.length
            each user in users
                tr
                    td #{user.firstNameUF}
                    td #{user.lastNameUF}
                    td #{user.dobUF}
                    td #{user.dorUF}
                    td #{user.ufNIN}
                    td #{user.phoneNumberUF}
                    td #{user.phoneNumberUF2}
                    td #{user.ward}
                    td #{user.produceType}
                    td #{user.gender}
                    td
                        a(href='/updateUF/'+user._id) Update
                    td
                        form(method="post" action='/deleteUF')
                            input(type="hidden", placeholder="", name="id", value=user._id)
                            button.btn.btn-dark.btn-block(type="submit") Delete
            else
                p No products found yet :(
script(src='./js/jquery-3.5.1.slim.min.js')
script(src='./js/popper.min.js')
script(src='./js/bootstrap/bootstrap.js')
script(src='./js/massajaUfarm.js')